.item {
  display: flex;
  align-items: center;
  width: 600px;
  height: 190px;
  margin-top: 20px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
}

.meta {
  margin-top: 10px;
  font-size: 15px;
  color: gray;
}

.description {
  margin-top: 10px;
}

.price {
  top: 5px;
  right: 20px;
  position: absolute;
  margin-top: 15px;
  margin-right: 20px;
}

.selected {
  border: 1px solid #6190c6;
  border-radius: 5px;
}

.sss {
  background-color: pink;
}
